@page "/test1"
@using Syncfusion.Blazor
@inject SwalService SwalService

@inject IExcuteService<ITest1> IExcuteServi;
<div class="my-component">
	This component is defined in the <strong class="heeh">BlazorAuto_API.Shopping.Blazor</strong><strong>@message</strong/> library.
	<img  src="@(GetSrcFileNamespace("background.png"))" width="50px" alt="Placeholder Image" />
</div>
<img  src="@(GetSrcFileNamespace("background.png"))" onclick="@(()=>AddImage())" width="100px" alt="Placeholder Image" />

<RichTextEditorCustomer @ref="richTextEditorCustomer"></RichTextEditorCustomer>

<script src="@GetSrcFileNamespace()"></script>

@code {

	RichTextEditorCustomer richTextEditorCustomer=new();

	string message = "Hello from BlazorAuto_API.Shopping.Blazor.Test1";
	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(1000);
		message = await IExcuteServi.Excute((x)=>x.ReturnString(1));
		await base.OnInitializedAsync();
	}
	private async Task AddImage()
	{
		var abc = await SwalService.Confirm("Thêm ảnh vào RichTextEditor", "Đang thêm ảnh vào RichTextEditor...");
		if (abc== SwalResult.Confirmed)
		{
			await SwalService.Loading("Đang thêm ảnh vào RichTextEditor...");
		await richTextEditorCustomer.AddMediaAsync(GetSrcFileNamespace("background.png"), "img");
		await Task.Delay(1000);
			await SwalService.Close();
		}
	}
}